@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;600&family=Secular+One&family=Unbounded:wght@200;800&display=swap');
body {
    margin:0px;
}
/* 
---------
Header section
--------- 
*/

.donaty-app-header{
    text-align: center;
    padding:8vw 20vw;
    background-image: url('../images/donation/donation13.jpg');
    background-repeat: no-repeat;
    height:500px;
    background-size: cover;
    
}

/* 
---------
Donate Today section
--------- 
*/
.donate-today {
    text-align: center;
    padding:5vw 20vw;
}

.donate-box {
    width:100px;
    margin:2px;
    padding:40px;
    box-sizing: border-box;
    display:inline-block;
}

.donate-box:nth-child(3) {
    border:2px solid orangered;
    background-color: rgb(218, 162, 141);
}
#donate-input {
    margin:20px;
    width:400px;
    border:none;
    border-bottom:1px solid grey;
    text-align: center;
}

/* 
---------
Donate Plan
--------- 
*/
.donate-plan {
    text-align: center;
    padding:2vw 10vw;
}

.donate-card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donate-card {
    box-sizing: border-box;
    width:300px;
    margin:20px;
    text-align: justify;
    padding:40px 20px;
    border-radius: 20px;
}

#donate-shelter {
    background-color: antiquewhite;
}

#donate-education {
    background-color: aqua;
}

#donate-food {
    background-color:yellow;
}

/* 
---------
Donate Article
--------- 
*/
.donate-article {
    text-align: center;
    padding:2vw 10vw;
}
.donate-article-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.donate-blog {
    width:400px;
    text-align: justify;
    margin:10px 60px 10px 0px;
}

.donate-article .img-container img {
    width:100%;
}