.btn-orangered {
    background-color: orangered;
    padding:15px;
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 2vw;
}
.font-txt {
    font-size:1.8vw;
}
.font-big {
    font-size:5vw;
}
.font-medium {
    font-size:4vw;
}
.txt-white {
    color:white;
}
.txt-orangered {
    color:orangered;
}
.font-medium {
    font-size:50px;
}
.font-green {
    color:greenyellow;
}
.font-blue {
    color:rgb(89, 47, 255);
}
.font-purple {
    color:purple;
}